/* ========================= ГЛАВНОЕ ========================= */
body {
  margin: 0;
  padding: 0;
}

.app {
  padding: 0 16px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 275px 1fr;
  grid-column-gap: 16px;
}

.tasks {
  padding: 16px 0;
  height: 275px;
  max-height: 275px;
}

.tasks .header {
  background-color: rgb(255, 174, 0);
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  height: 24px;
}

.tasks .taskListWrapper {
  overflow-y: auto;
  max-height: calc(275px - 36px - 24px);
  border-left: 1px solid #eaecec;
  border-right: 1px solid #eaecec;
  margin: 0;
}

.tasks .task {
  padding: 0 16px 0 16px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  position: relative;
}

.tasks .task:hover {
  background-color: rgb(255, 229, 143);
}

.tasks .delete {
  position: absolute;
  right: 16px;
}

.tasks .form {
  height: 24px;
  line-height: 24px;
  align-items: center;
  background-color: rgb(189, 255, 66);
  padding: 0 16px;
}